@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --color-bg-surface1: #ffffff;
  --color-bg-surface2: #fdfdfd;
  --color-bg-surface3: #e2e2e2;
  --color-bg-surface4: rgba(253, 253, 253, 0.5);
  --color-bg-dark1: #282828;
  --color-bg-dark2: #141414;
  --color-bg-primary: #2d68ff;
  --color-bg-highlight: rgba(226, 226, 226, 0.3);
  --color-bg-subtle: rgba(226, 226, 226, 0.5);
  --color-bg-subtle95: rgba(233, 233, 233, 0.95);
  --color-bg-freebie: #e2e2e2;
  --color-bg-box-shadow: rgba(217, 217, 217, 0.75);

  --color-text-primary: #1b1b1b;
  --color-text-secondary: #727272;
  --color-text-tertiary: #a8a8a8;
  --color-text-light: #fdfdfd;
  --color-text-blue: #2d68ff;
  --color-text-primary-body: rgba(27, 27, 27, 0.7);

  --color-stroke1: #e2e2e2;
  --color-stroke2: #e2e2e2;
  --color-stroke-subtle: rgba(168, 168, 168, 0.1);
  --color-stroke-focus: #2d68ff;
  --color-stroke-highlight: rgba(168, 168, 168, 0.5);

  --color-primary1: #2d68ff;
  --color-primary2: #00a656;
  --color-primary3: #ff381c;

  --color-accent: #f52495;
  --color-accent2: #a444f3;

  --box-shadow-hover: 0px 2.15px 0.5px -2px rgba(0, 0, 0, 0.25),
    0px 24px 24px -16px rgba(8, 8, 8, 0.04), 0px 6px 13px rgba(8, 8, 8, 0.03),
    0px 6px 4px -4px rgba(8, 8, 8, 0.05), 0px 5px 1.5px -4px rgba(8, 8, 8, 0.09);
  --box-shadow-active: inset 0px 1px 2px 1px rgba(18, 18, 18, 0.05);

  --gradient-horizontal: to right, transparent 0%, rgba(168, 168, 168, 0.1) 15%,
    rgba(168, 168, 168, 0.1) 85%, transparent 100%;
  --gradient-vertical: to top, transparent 0%, rgba(168, 168, 168, 0.1) 15%,
    rgba(168, 168, 168, 0.1) 85%, transparent 100%;
}
[data-theme="dark"] {
  --color-bg-surface1: #1b1b1b;
  --color-bg-surface2: #282828;
  --color-bg-surface3: #141414;
  --color-bg-surface4: rgba(40, 40, 40, 0.3);
  --color-bg-dark1: #e2e2e2;
  --color-bg-dark2: #fdfdfd;
  --color-bg-primary: #2d68ff;
  --color-bg-highlight: rgba(27, 27, 27, 0.4);
  --color-bg-subtle: rgba(40, 40, 40, 0.5);
  --color-bg-subtle95: rgba(34, 34, 34, 0.95);
  --color-bg-freebie: #282828;
  --color-bg-box-shadow: rgba(12, 12, 12, 0.75);

  --color-text-primary: #f1f1f1;
  --color-text-secondary: #a8a8a8;
  --color-text-tertiary: #4c4c4c;
  --color-text-light: #141414;
  --color-text-blue: #2d68ff;
  --color-text-primary-body: rgba(241, 241, 241, 0.7);

  --color-stroke1: #282828;
  --color-stroke2: #363636;
  --color-stroke-subtle: rgba(54, 54, 54, 0.4);
  --color-stroke-focus: #2d68ff;
  --color-stroke-highlight: rgba(76, 76, 76, 0.5);

  --color-primary1: #2d68ff;
  --color-primary2: #00a656;
  --color-primary3: #ff381c;

  --color-accent: #f52495;
  --color-accent2: #d29aff;

  --box-shadow-hover: 0px 2.15px 0.5px -2px rgba(0, 0, 0, 0.25),
    0px 24px 24px -16px rgba(8, 8, 8, 0.04),
    0px 6px 13px 0px rgba(8, 8, 8, 0.03), 0px 6px 4px -4px rgba(8, 8, 8, 0.05),
    0px 5px 1.5px -4px rgba(8, 8, 8, 0.09);
  --box-shadow-active: inset 0px 2px 4px 1px rgba(18, 18, 18, 0.35);

  --gradient-horizontal: to right, transparent 0%, rgba(168, 168, 168, 0.05) 15%,
    rgba(168, 168, 168, 0.05) 85%, transparent 100%;
  --gradient-vertical: to top, transparent 0%, rgba(168, 168, 168, 0.05) 15%,
    rgba(168, 168, 168, 0.05) 85%, transparent 100%;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1259px;
  --breakpoint-2xl: 1419px;
  --breakpoint-3xl: 1579px;
  --breakpoint-4xl: 1899px;
  --color-b-surface1: var(--color-bg-surface1);
  --color-b-surface2: var(--color-bg-surface2);
  --color-b-surface3: var(--color-bg-surface3);
  --color-b-surface4: var(--color-bg-surface4);
  --color-b-dark1: var(--color-bg-dark1);
  --color-b-dark2: var(--color-bg-dark2);
  --color-b-primary: var(--color-bg-primary);
  --color-b-highlight: var(--color-bg-highlight);
  --color-b-subtle: var(--color-bg-subtle);
  --color-b-subtle95: var(--color-bg-subtle95);
  --color-b-freebie: var(--color-bg-freebie);
  --color-b-box-shadow: var(--color-bg-box-shadow);
  --color-t-primary: var(--color-text-primary);
  --color-t-secondary: var(--color-text-secondary);
  --color-t-tertiary: var(--color-text-tertiary);
  --color-t-light: var(--color-text-light);
  --color-t-blue: var(--color-text-blue);
  --color-t-primary-body: var(--color-text-primary-body);
  --color-stroke1: var(--color-stroke1);
  --color-stroke2: var(--color-stroke2);
  --color-stroke-subtle: var(--color-stroke-subtle);
  --color-stroke-focus: var(--color-stroke-focus);
  --color-stroke-highlight: var(--color-stroke-highlight);
  --color-primary1: var(--color-primary1);
  --color-primary2: var(--color-primary2);
  --color-primary3: var(--color-primary3);
  --color-accent: var(--color-accent);
  --color-accent2: var(--color-accent2);
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
  --default-transition-duration: 0.2s;
  --font-inter: var(--font-inter);
  --text-0: 0;
  --text-hero: 3.75rem;
  --text-hero--line-height: 3.75rem;
  --text-hero--letter-spacing: -0.015em;
  --text-hero--font-weight: 700;
  --text-h1: 2.75rem;
  --text-h1--line-height: 3rem;
  --text-h1--letter-spacing: -0.015em;
  --text-h1--font-weight: 700;
  --text-h2: 2.5rem;
  --text-h2--line-height: 2.75rem;
  --text-h2--letter-spacing: -0.01em;
  --text-h2--font-weight: 700;
  --text-h3: 2rem;
  --text-h3--line-height: 2.25rem;
  --text-h3--font-weight: 700;
  --text-h4: 1.75rem;
  --text-h4--line-height: 2.125rem;
  --text-h4--font-weight: 700;
  --text-h5: 1.5rem;
  --text-h5--line-height: 1.875rem;
  --text-h5--font-weight: 700;
  --text-body-lg-bold: 1.125rem;
  --text-body-lg-bold--line-height: 1.5rem;
  --text-body-lg-bold--font-weight: 700;
  --text-body-lg: 1.125rem;
  --text-body-lg--line-height: 1.5rem;
  --text-body-lg--font-weight: 400;
  --text-body-bold: 1rem;
  --text-body-bold--line-height: 1.375rem;
  --text-body-bold--font-weight: 700;
  --text-body: 1rem;
  --text-body--line-height: 1.375rem;
  --text-body--font-weight: 400;
  --text-heading: 0.875rem;
  --text-heading--line-height: 1.25rem;
  --text-heading--font-weight: 500;
  --text-heading-thin: 0.875rem;
  --text-heading-thin--line-height: 1.25rem;
  --text-heading-thin--font-weight: 400;
  --text-button: 0.875rem;
  --text-button--line-height: 1.25rem;
  --text-button--letter-spacing: -0.01em;
  --text-button--font-weight: 700;
  --text-input: 0.875rem;
  --text-input--line-height: 1.25rem;
  --text-input--letter-spacing: -0.01em;
  --text-input--font-weight: 500;
  --text-hairline: 0.8125rem;
  --text-hairline--line-height: 1rem;
  --text-hairline--font-weight: 400;
  --text-small: 0.75rem;
  --text-small--line-height: 0.75rem;
  --text-small--letter-spacing: -0.01em;
  --text-small--font-weight: 400;
  --shadow-hover: var(--box-shadow-hover);
  --shadow-active: var(--box-shadow-active);
}

@layer base {
  /* html {
    scrollbar-gutter: stable;
  } */
  button {
    @apply cursor-pointer;
  }
}
.debug {
  border: 4px dashed red;
}
.animate-rotate {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-arrow-up:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 16px;
  height: 8px;
  transform: translateX(-50%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='8' fill='none' viewBox='0 0 16 8'%3E%3Cpath d='M6.586 1.414a2 2 0 0 1 2.828 0L16 8H0l6.586-6.586z' fill='%23fdfdfd'/%3E%3C/svg%3E")
    no-repeat center center / auto 100%;
}
html[data-theme="dark"] .dropdown-arrow-up:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='8' fill='none' viewBox='0 0 16 8'%3E%3Cpath d='M6.586 1.414a2 2 0 0 1 2.828 0L16 8H0l6.586-6.586z' fill='%23282828'/%3E%3C/svg%3E");
}

/* mask */
.mask-middle {
  mask-image: linear-gradient(to left, black 90%, transparent 100%),
    linear-gradient(to right, black 90%, transparent 100%);
  mask-composite: intersect;
}
.mask-left {
  mask-image: linear-gradient(to left, black 90%, transparent 100%);
}
.mask-right {
  mask-image: linear-gradient(to right, black 90%, transparent 100%);
}
