.hero--container {
  display: flex;
  height: 1320px;
  width: 100%;
  padding: 120px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
  align-self: stretch;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.hero-ellipsis-bg {
  width: 342px;
  height: 774px;
  transform: rotate(-12.518deg);
  position: absolute;
  left: -194px;
  top: -464px;
  border-radius: 774px;
  opacity: 0.6;
  background: var(--Grey-500, #8c9298);
  filter: blur(150px);
  z-index: 0;
}
.hero-ellipsis-bg2 {
  width: 269px;
  height: 553px;
  transform: rotate(-33.107deg);
  position: absolute;
  right: -186.382px;
  bottom: 83.85px;
  border-radius: 553px;
  opacity: 0.4;
  background: var(--Grey-500, #8c9298);
  filter: blur(150px);
  z-index: 0;
}
.hero-content {
  display: flex;
  width: 1357.698px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.hero-content-a {
  color: var(--Grey-500, #8c9298);

  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 123.077% */
  letter-spacing: 0.65px;
}
.hero-content-b {
  width: 615.993px;

  text-align: center;

  font-size: 86px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px; /* 111.628% */
  letter-spacing: -1.677px;

  background: linear-gradient(180deg, #000 10.16%, #4c4c4c 99.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-content-b > span {
  background: linear-gradient(180deg, #000 10.16%, #4c4c4c 99.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 86px;
  font-style: italic;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: -1.677px;
}
.hero-content-divider {
  width: 10.158px;
  height: 10.158px;
  background: #000;
}
.hero-content-c {
  width: 594.442px;

  color: var(--Foreground-Static-Dim4, #666d76);
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: -0.403px;
}
.hero-content-c > span {
  color: var(--Foreground-Static-Default, #000c1a);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.403px;
}
.hero-btns {
  display: flex;
  width: 895.99px;
  height: 57.643px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
}

.hero-btns-btn-b {
  /* border-radius: 12px;
  border: 1.5px solid var(--Border-Interactive-Button-Outline-Enabled, #333d48); */
  background: #fff;
}
.hero-info {
  display: flex;
  width: 895.99px;
  height: 132.813px;
  padding: 64.831px 112.005px 0 111.992px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  border-top: 0.833px solid rgba(0, 0, 0, 0.1);
}
.hero-info-inner {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.hero-info-item {
  display: flex;
  width: 202.669px;
  height: 67.982px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.995px;
}
.hero-info-item-a {
  display: flex;
  padding: 0 51.724px 0 51.945px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: #0a0a0a;
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.369px;
}

.hero-info-item-b {
  display: flex;
  /* padding: 0 50.081px 0 51.589px; */
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: rgba(0, 0, 0, 0.6);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.15px;
}

.hero-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-footer-img {
  width: 100%;
}
@media (max-width: 1512px) {
  .hero-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero--container {
    height: auto;
    padding: 180px 16px 64px;
    gap: 48px;
  }

  .hero-ellipsis-bg {
    width: 814.209px;
    height: 236px;
    left: -211px;
    top: 40px;
    filter: blur(150px);
  }

  .hero-ellipsis-bg2 {
    width: 799px;
    height: 231.592px;
    right: auto;
    left: 90px;
    top: 272px;
    bottom: auto;
    transform: rotate(180deg);
    filter: blur(150px);
  }

  .hero-content {
    width: 100%;
    gap: 24px;
  }

  .hero-content-a {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
  }

  .hero-content-b {
    width: 100%;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.677px;
  }

  .hero-content-b > span {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.677px;
  }

  .hero-content-divider {
    width: 10.158px;
    height: 10.158px;
  }

  .hero-content-c {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.4034px;
  }

  .hero-content-c > span {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.4034px;
  }

  .hero-btns {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 16px;
  }

  .hero-btns > button {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }

  .hero-btns-btn-b {
    width: 100%;
    height: 51px;
  }

  .hero-info {
    width: 100%;
    height: auto;
    padding: 24px 0 0 0;
    border-top: 0.833px solid rgba(0, 0, 0, 0.1);
  }

  .hero-info-inner {
    gap: 12px;
  }

  .hero-info-item {
    width: auto;
    height: auto;
    flex: 1;
    gap: 7.995px;
  }

  .hero-info-item-a {
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.3691px;
  }

  .hero-info-item-b {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1504px;
  }

  .hero-footer {
    height: 83px;
  }

  .hero-footer-img {
    height: 83px;
    object-fit: cover;
  }
}
